/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
.navbar-main {
    background-color: brown;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: brown;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color:  brown;
    border-color:  brown;
}
.navbar-main .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: brown;
}
section#footer p {
    border-top: 20px solid brown;
}
section#main-menu {
    background-color: brown;
}
.text-domain {
    color: brown;
}
a {
    color: #730505;
}
div.header-lined h1 {
    color: #730505;
}

.dataTables_wrapper .dataTables_info {
    background-color: brown;
}

.navbar-main li.account {
    background-color: #730505;
}
ul.top-nav>li.primary-action>a.btn {
    padding: 6px 15px;
    background-color: brown;
    color: #fff;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: brown;
    border-color: #730505;
}

.btn-primary:hover {
    color: #fff;
    background-color: #730505;
    border-color: brown;
}

div.header-lined .breadcrumb>.active {
    color: #730505;
}

a:focus, a:hover {
    color: brown;
    text-decoration: underline;
}

.navbar-main .navbar-nav>li>a:hover{
   color: #eee;
    background-color: brown;
}
.navbar-main .navbar-nav>.active>a, .navbar-main .navbar-nav>.active>a:focus, .navbar-main .navbar-nav>.active>a:hover, .navbar-main .navbar-nav>.open>a, .navbar-main .navbar-nav>.open>a:focus, .navbar-main .navbar-nav>.open>a:hover, .navbar-main .navbar-nav>li>a:focus, .navbar-main .navbar-nav>li>a:hover {
    color: #eee;
    background-color: #730505;
}

section#header {
    background-color: brown;
	border-radius: 0px 0px 0 0;
}

section#header .logo-text {
    color: white;
	text: 360Studio Hosting
}

ul.top-nav>li>a {
    padding: 6px 10px;
    color: white;
    line-height: 20px;
    text-decoration: none;
}

ul.top-nav>li:active>a, ul.top-nav>li:focus>a, ul.top-nav>li:hover>a, ul.top-nav>li>a:focus {
    color: #eee;
    text-decoration: none;
    background: 0 0;
}

section#footer p {
    border-top: 0px solid brown;
}